<!DOCTYPE html>
<html lang="de-at" data-theme="silk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}DynaNews{% endblock %}</title>

    <script src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
    <div class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl">DynaNews</a>
        </div>
        <div class="flex-none">
            <button class="btn btn-square btn-ghost">
                <span class="material-icons">face</span>
            </button>
        </div>
    </div>
</header>

<main class="container mx-auto my-4">
    {% block content %}
        <!-- Hier wird der Hauptinhalt der Seite eingefügt -->
    {% endblock %}
</main>
</body>
</html>